/* You can add global styles to this file, and also import other style files */
app-home {
  width: 100vw;
  height: 100vh;
  background-color: rgb(65, 65, 65);
  display: flex;
}

app-league {
  width: 100vw;
  height: 100vh;
  background-color: rgb(65, 65, 65);
  display: flex;
}

app-create-league-page {
  width: 100vw;
  height: 100vh;
  background-color: rgb(65, 65, 65);
  display: flex;
}

app-account {
  width: 100vw;
  height: 100vh;
  background-color: rgb(65, 65, 65);
  display: flex;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

app-header-bar {
  width: 100%;
  height: 10vh;
  color: white;
  background-color: rgb(49, 49, 49);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 1px 3px 0px #888888;
}

app-sidebar {
  width: 30vw;
  min-width: 200px;
  max-width: 300px;
  height: 100vh;
  color: white;
  background-color: rgb(43, 43, 43);
  box-shadow: 1px 0px 3px 0px #888888;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

app-league-card {
  width: 90%;
  height: 10%;
  border-radius: 10px;
  background-color: rgb(170, 14, 46);
  color: white;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@import 'tailwindcss';
