@if (sidebarService.getData()) {
  <app-sidebar />
}
<div class="main">
  <app-header-bar />
  <div class="content">
    <div class="home-header">
      <a href="/createleague">Create a League</a>
      <a href="/mockdraftlobby">Mock Draft</a>
    </div>

    @for (item of leagueList; track item.id) {
      <app-league-card [leaguename]="item.name" />
    }
    <button class="w-20 cursor-pointer bg-amber-950" (click)="getLeagues()">New</button>
    <button class="w-20 cursor-pointer bg-amber-950" (click)="clickedButton()">Update</button>
  </div>
</div>
